<div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                  
                         <div class="imageholder">
                            <% if current_user.role == "admin" %>
                            <%= image_tag "profile.png", size: "150x150", :class => "profileimg" %>
                            <% elsif current_user.role == "sales" %>
                            <%= image_tag "download.jpg", size: "150x150", :class => "profileimg" %>
                            <% elsif current_user.role == "warehouse" %>
                            <%= image_tag "warehouse.jpg", size: "150x150", :class => "profileimg" %>
                             <% elsif current_user.role == "account" %>
                              <%= image_tag "accountant.jpg", size: "150x150", :class => "profileimg" %>
                              <% elsif current_user.role == "customer" %>
                              <%= image_tag "download.jpg", size: "150x150", :class => "profileimg" %>
                              <% end %>

                        </div>
                    
                    <li class="active">
                        <a href="#"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                     <%= link_to  orders_chart_path do %>
                <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;&nbsp;Charts
                </li><% end %>
                
                    
                    <% if can? :create, @order%>
                    <li>
                <%= link_to  new_order_path do %>
                <i class="fa fa-plus"></i>&nbsp;&nbsp;Create new
                </li><% end %>
                <% end %>
                 <li>
                 <%= link_to  orders_path do %> 
                    <i class="fa fa-list"></i>&nbsp;&nbsp;All Orders
                    </li>
                    <% end %>
                    <li>
                    <%= link_to  sales_complete_path do %> 
                     <i class="fa fa-check"></i>&nbsp;&nbsp;Completed Orders</li>
                     <% end %>
                    
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
</nav>