
    <%- model_class = Order -%>
    <div class="page-header">
      
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></div>
      <table class="table table-condensed table-hover table-striped">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:id) %></th>
            <th>Customer</th>
            <th><%= model_class.human_attribute_name(:product) %></th>
            <th>Download Link</th>
            <th><%= model_class.human_attribute_name(:destination) %></th><!-- 
            <th><%= model_class.human_attribute_name(:account_approval) %></th>
            <th><%= model_class.human_attribute_name(:account_comment) %></th>
            <th><%= model_class.human_attribute_name(:warehouse_approval) %></th>
            <th><%= model_class.human_attribute_name(:current_location) %></th>
            <th><%= model_class.human_attribute_name(:delivered) %></th>
            <th><%= model_class.human_attribute_name(:warehouse_comment) %></th> -->
            <th><%=t '.actions', :default => t("helpers.actions") %></th>
          <a/tr>
        </thead>
        <tbody>
          <!-- show order with customer name = current_user.username -->
          <% @orders2.where(:custumer => current_user.username).each do |order| %>
         
            <tr>
              <td><%= link_to order.id, order_path(order) %></td>
              <td><%= order.custumer %></td>
              <td><%= order.product %></td>
              <td><%= link_to "Download Voucher", order.attachment_url %></td>
              <td><%= order.destination %></td><!-- 
              <td><%= order.account_approval %></td>
              <td><%= order.account_comment %></td>
              <td><%= order.warehouse_approval %></td>
              <td><%= order.current_location %></td>
              <td><%= order.delivered %></td>
              <td><%= order.warehouse_comment %></td> -->
              <td>
                <%= link_to 'Confirm Delivery',
                            edit_order_path(order), :class => 'btn btn-default btn-xs' %>
<!--                 <%= link_to 'Cancel',
                            order_path(order),
                            :method => :delete,
                            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                            :class => 'btn btn-xs btn-danger' %> -->
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

</div>
<div class="col-md-12 text-center">
        <%= will_paginate @orders2, :page_links => false %>
      </div>