
<div class="row">
  <!-- A vertical nav-bar -->
  <%= render :partial => '/shared/sidebar2' %>
   <div class="col-lg-6">
<%- model_class = Order -%>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:custumer) %>:</strong></dt>
  <dd><%= @order.custumer %></dd>
  <dt><strong><%= model_class.human_attribute_name(:product) %>:</strong></dt>
  <dd><%= @order.product %></dd>
  <dt><strong><%= model_class.human_attribute_name(:account_approval) %>:</strong></dt>
  <dd><%= @order.account_approval %></dd>
  <dt><strong><%= model_class.human_attribute_name(:account_comment) %>:</strong></dt>
  <dd><%= @order.account_comment %></dd>
  <dt><strong><%= model_class.human_attribute_name(:warehouse_approval) %>:</strong></dt>
  <dd><%= @order.warehouse_approval %></dd>
  <dt><strong><%= model_class.human_attribute_name(:destination) %>:</strong></dt>
  <dd><%= @order.destination %></dd>
  <dt><strong><%= model_class.human_attribute_name(:current_location) %>:</strong></dt>
  <dd><%= @order.current_location %></dd>
  <dt><strong><%= model_class.human_attribute_name(:delivered) %>:</strong></dt>
  <dd><%= @order.delivered %></dd>
  <dt><strong><%= model_class.human_attribute_name(:warehouse_comment) %>:</strong></dt>
  <dd><%= @order.warehouse_comment %></dd>
  <dd><%= @order.stage_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              orders_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_order_path(@order), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              order_path(@order),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
</div>