  <%= render :partial => '/shared/sidebar2' %>
          <!-- /.container -->

      <div id="page-wrapper">
      <!-- Page Content -->
      <div class="container-fluid main">
        <div class="row">
        <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>


<div class="row">
  <!-- A vertical nav-bar -->
  <%= render :partial => '/shared/sidebar2' %>
   <div class="col-lg-6">
<%- model_class = Order -%>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:custumer) %>:</strong></dt>
  <dd><%= @order.custumer %></dd>
  <dt><strong><%= model_class.human_attribute_name(:product) %>:</strong></dt>
  <dd><%= @order.product %></dd>
  <dt><strong><%= model_class.human_attribute_name(:destination) %>:</strong></dt>
  <dd><%= @order.destination %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              orders_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_order_path(@order), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              order_path(@order),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
</div>