<div class="row loginpad">
    <div class="col-md-4">
      <div class="rotator rot robot">
          <div>
            <h3>Engage your customers with iTracker</h3>
          </div>
          <div>
            <h3>Relief them of suprises</h3>
          </div>
          <div>
            <h3>Grow your customer loyalty</h3>
          </div>
        </div>
         <br>
          <div class="login-box login-form">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name),class: "form-horizontal ls-form") do |f| %>
            <%= devise_error_messages! %>
            <h2>Sign up</h2>

            <div class="input-group ls-group-input login-form">
              <%= f.text_field :username, autofocus: true, :class => 'form-control', :placeholder => 'Username' %>
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
            </div>


            <div class="input-group ls-group-input login-form">
              <%= f.email_field :email, :class => 'form-control', :placeholder => 'Email' %>
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
            </div>

              <% if @validatable %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %> 
            <div class="input-group ls-group-input login-form">
            
              <%= f.password_field :password, autocomplete: "off", :class => 'form-control', :placeholder => 'password' %>
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            </div>


           <div class="input-group ls-group-input login-form">
              <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control', :placeholder => 'password' %>
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            </div>

            <div class="actions">
              <%= f.submit "Sign up", :class => 'btn btn-primary' %>
            </div>
          <% end %>

          <%= render "users/shared/links" %>
           </div>
    </div>
</div>
